---
title: GitLab Administration Training
suppress_header: true
description: "GitLab Administration Training"
extra_css:
  - services.css
---

.wrapper
  .simple-header
    %h1
      GitLab Education

  .services-page
    .page-container.container
      .row
        .col-md-10.col-md-offset-1
          %h1.page-headline
            GitLab Administration Training
          #overview
            %h2
              Overview
            %h3 Learn how to administer your GitLab instance
            %p.services-text
              This course is great for those wanting to learn more about how to administer their GitLab instance.  In this course, we will start by covering the basics of the GitLab application from a system admin perspective, dive into the architecture of the application and discuss advanced topics.
            %p.services-text
              The course covers all required maintenance and backup administrative tasks for managing GitLab, as well as a collection of best practices from our experienced Implementation Engineers.
            %ul
              %li.services-text Delivery: This training can be delivered either remotely or on-site.
              %li.services-text Class length: 4 hours 
          #syllabus
            %h2
              Syllabus
            %p.services-text
              %ul
                %li Installation & High Availablity
                %li Application Architecture
                %li User UI Admin Perspective
                %li Admin Panel
                %li Configuration
                %li Admin CLI & Application Paths
                %li Backups
                %li Questions
          #resources
            %h2
              Pre-training Resources
            %p.services-text
              These resources act as prerequisites to the training and will help ensure you have a successful training session with the GitLab team.
            %ul
              %li.services-text 
                %a{href: 'https://www.youtube.com/watch?v=j16QHjv29A0'} Why you should move to Git
              %li.services-text
                %a{href: 'https://www.youtube.com/watch?v=Ce5nz5n41z4&list=PLFGfElNsQthbTRBiMVV2JTQfUUpIlqBEw'} Git-ing Started with Git
              
