---
layout: default
title: GitLab + BCBS - Develop a Faster DevOps lifecycle
suppress_header: true
extra_css:
  - styles-2018.css
---

.wrapper
  .page-illustrated-header-container
    = partial "includes/icons/gitlab-icon-pattern-header.svg"
    .container
      .header-container-content
        %h1.page-headline A faster DevOps lifecycle for healthcare and insurance
        %h2.page-subtitle A GitLab and Blue Cross Blue Shield webinar

  .content-container
    .wrapper.container{ role: "main" }
      .row
        .col-xs-12.col-md-6.col-md-offset-1
          .content-section
            %h3 June 7th, 11am-12pm CST
            %p Security is a critical part of automating the DevOps lifecycle. Join us to learn how can healthcare and insurance providers within the BCBS network are developing a faster DevOps lifecycle by integrated security directly into the process with GitLab.

            %h3 In this session, we'll cover:
            %ul
              %li Why integrated security?
              %li Which BCBS are using GitLab?
              %li Advantages of fully integrated DevOps toolchain
              %li GitLab @ HM Health Solutions
              %li GitLab @ Cambia Health Solutions
              %li Share your DevOps Journey
              %li Q&A

            %h3 Your presenters are:
            %ul
              %li Jim Neumyer, Technical Architect, Frameworks and Tools at HM Health Solutions
              %li Matt Henson, Manager, Platform Services and Release Engineering at Cambia Health Solutions
              %li GitLab experts Joel Krooswyk and John Woods


          .content-section
            %h3 About GitLab
            %p GitLab is the first single application for the entire DevOps lifecycle. Only GitLab enables Concurrent DevOps, unlocking organizations from the constraints of the toolchain. GitLab provides unmatched visibility, higher levels of efficiency, and comprehensive governance. This make the software lifecycle 3 times faster, radically improving the speed of business.
            %br
            %p GitLab delivers complete real-time visibility of all projects and relevant activities across the expanded DevOps lifecycle. For the first time, teams can see everything that matters. Changes, status, cycle times, security and operational health are instantly available from a trusted single source of data. Information is shown where it matters most, e.g. production impact is show together with the code changes that caused it. And developers see all relevant security and ops information for any change.


        .col-md-4.col-md-offset-1
          %h2 Register for the webcast
          %p If form does not render, please use <a href="https://www.google.com/chrome/" target="_blank">another browser</a>.
          .centered-form
            %script{src: "//app-ab13.marketo.com/js/forms2/js/forms2.min.js"}
            %form#mktoForm_1592
            :javascript
              MktoForms2.loadForm("//app-ab13.marketo.com", "194-VVC-221", 1592, function(form) {
                form.onSuccess(function() {
                  form.getFormElem().hide();
                  $('.confirmform').attr('style', 'visibility: visible');
                  return false;
                });
              });
            .confirmform{style: "visibility:hidden;"}
              .centered-form-info
                %h3 Registration received!
                %p Thank you for registering. You will receive an email with additional webcast details.
