---
layout: default
title: Contact Sales
suppress_header: true
extra_css:
  - sales-and-free-trial-common.css
  - faq.css
extra_js:
  - faq.js

---
.wrapper
  .simple-header
    %h1 Contact Sales
  .centered-form
    .centered-form-info
      Please contact our sales team with any questions
      about
      %a{href: "/features/#enterprise"} GitLab
      and someone will get back to you within one business day. If you need technical help, visit our
      %a{href: "/support/#contact-support"} support
      page.
      %p If form does not render, please use <a href="https://www.google.com/chrome/" target="_blank">another browser</a>.

    %script{src: "//app-ab13.marketo.com/js/forms2/js/forms2.min.js"}
    %form#mktoForm_1415
    :javascript
      MktoForms2.loadForm("//app-ab13.marketo.com", "194-VVC-221", 1415, function(form) {
        form.onSuccess(function() {
          form.getFormElem().hide();
          $('.confirmform').attr('style', 'visibility: visible');
          return false;
        });
      });
    .confirmform{style: "visibility:hidden;"}
      %h3 Submission received!
      %p We'll be in contact shortly.
    %br/
    %br/

= partial "includes/home/customer-logos-transparent"

.content-container.animated
  .container
    %h2.faq-title.light.text-center
      Frequently Asked Questions
    .faq-holder.clearfix
      - questions = data.sales_faq.questions
      - size = (questions.size / Float(2)).ceil
      - questions.each_slice(size).to_a.each do |group|
        = partial "includes/layout/question_group", locals: { group: group }
